/* Googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

/* Global Colors */
:root {
	--black-shadows: #D3C1C3;
	--almond: #E2D0BE;
	--cerulean-crayola: #00A7E1;
	--rich-black: #00171F;
	--whisper: #E8E8E8;
	--sky-blue: #47D1FF;
}

/* All document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

body {
	height: 180vh;
	background: linear-gradient(180deg, var(--black-shadows), var(--almond));
	background-repeat: no-repeat;
	font-size: 0.625rem;
	color: var(--cerulean-crayola);
}

/* Container CSS for all main DIVs */
.container {
	width: 45vw;
	min-width: 18.75rem;
	background-color: var(--rich-black);
	margin: 0 auto;
	margin-top: 2%;
	border-radius: 0.625rem;
	padding: 0.3125rem;
}

/* Start of Top Menu */
.game-name {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
	word-spacing: 1.25rem;
	text-align: center;
	display: block;
}

.button {
    margin: 0.3125rem;
    padding: 0.375rem 1rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    background-color: var(--cerulean-crayola);
    border-color: transparent;
	color: var(--whisper);
	display: inline-flex;
}

.button:hover {
    background-color: var(--sky-blue);
    border-color: transparent;
}

/* Modal CSS from https://stackoverflow.com/questions/40645032/creating-multiple-modals-on-a-single-page */
/* 				  https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
	background-color: var(--rich-black);
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid var(--almond);
	border-radius: 1.3rem;
	width: 35%; /* Could be more or less, depending on screen size */
	text-align: center;
	min-width: 10%;
}
  
  /* The Exit Button */
.modal-exit {
	color: var(--cerulean-crayola);
	float: right;
	font-size: 1.75rem;
	font-weight: bold;
}
  
.modal-exit:hover,
.modal-exit:focus {
	color: var(--sky-blue);
	text-decoration: none;
	cursor: pointer;
}

.modal h1 {
	font-size: 1.7rem;
}

.modal p {
	font-size: 1.3rem;
}

/* End of Top Menu*/

/* Start of Game Menu */
/* Scores */
.scores {
	margin-top: 1%;
	margin-bottom: 8%;
	font-size: 1.3rem;
}

/* Game type */
#game-type {
	text-align: center;
}

/* Buttons */
.game {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game > .game-options {
	flex: 1 1 30%;
    height: 100px;
}

.game button {
	background-color: var(--cerulean-crayola);
	color: var(--whisper);
	border: none;
	font-size: 1.2rem;
	padding: 0.625rem;
	border-radius: 1.5625rem;
    margin-left: 0.3125rem;
	margin-bottom: 0.3125rem;
}

.game button:hover {
	font-size: 1.1rem;
}

/* Results message */
.results {
	margin-top: 1.5625rem;
	text-align: center;
	font-size: 1.5rem;
}
/* End of Game Menu */
/* Start of Guides */
.guides {
	width: 45vw;
	min-width: 18.75rem;
	background-color: var(--rich-black);
	position: absolute;
	left: 50%;
	transform: translate(-50%, 5%);
	border-radius: 0.625rem;
	margin-bottom: 0.625rem;
}

.guides h1 {
	font-size: 2.3rem;
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 0.625rem;
	font-weight: 900;
	letter-spacing: 1px;
}

.guides p {
	font-size: 1.25rem;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 0.3125rem;
}
/* End of Guides */

/* Media Queries to make website responsive */
/* For anything below screens with 974pxs */
@media screen and (max-width: 974px) {
	h3 {
		font-size: 1.0rem;
	}
	.guides p > img {
		width: 90%;
	}
}
/* For anything below screens with 708pxs */
@media screen and (max-width: 708px) {
	.game button:hover {
		font-size: 1.2rem;
	}
}
/* For anything below screens with 650pxs */
@media screen and (max-width: 650px) {
	.modal-content {
		width: 65%
	}
}